.second-div {
  background-color: #575988;
  padding: 54px;
}
.second-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.text-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 775px) {
  .second-div {
    display: flex;
    padding: 90px;
    justify-content: space-between;
   
  }
  .text-2,
  .second-text {
    text-align: left;
  }
  .cnt{
    width: 45%;
  }
}
